extends layout
block content
      
      .modulo
            
            ul
                  li a.- Realice una página que muestre los libros que escribió un autor y su correspondiente porcentaje de participación.
                  li b.- Realice una página que liste las fotos de todos los autores de un libro X
                  li c.- Realice una página que liste el título, género y año de los libros mayores a una determinada cantidad de páginas.
                  li d.- Realice una página que liste todos los autores que tienen una participación mayor al 50% de los libros de genero X. Los datos de cada autor deben ser enlaces que nos lleven a mostrar una biografía del autor (datos y detalle de los libros que escribió)
      .modulo
            a(href="#ruta de la pagina") 
      